.background {
  background-image: url("../images/chain.png");
  height: 100%;
  /*
  background-position-x: -250px;
  background-position-y: top;*/ }

.logo-img {
  position: absolute;
  top: 30px;
  left: 600px; }

.login-form {
  vertical-align: center; }
