.first-info-dutch {
  margin-bottom: 10px;
  width:40%;
  .MuiAlert-filledInfo{
    background-color: #2196f3 !important;
  }
}

.second-info-dutch{
  margin-bottom: 10px;
  width:45%;
  .MuiAlert-filledInfo{
    background-color: #2196f3 !important;
  }
}

.third-info-dutch{
  margin-bottom: 10px;
  width:50%;
  .MuiAlert-filledInfo{
    background-color: #2196f3 !important;
  }
}