.first-info {
  margin-bottom: 10px;
  width: 40%; }
  .first-info .MuiAlert-filledInfo {
    background-color: #33b5e5 !important; }

.second-info {
  margin-bottom: 10px;
  width: 45%; }
  .second-info .MuiAlert-filledInfo {
    background-color: #33b5e5 !important; }

.third-info {
  margin-bottom: 10px;
  width: 50%; }
  .third-info .MuiAlert-filledInfo {
    background-color: #33b5e5 !important; }

.fourth-info {
  margin-bottom: 10px;
  width: 55%; }
  .fourth-info .MuiAlert-filledInfo {
    background-color: #33b5e5 !important; }

.fifth-info {
  margin-bottom: 10px;
  width: 60%; }
  .fifth-info .MuiAlert-filledInfo {
    background-color: #f57c00 !important; }
