.auction-item-panel{
  height:80%;
  padding: 40px;
}



.background-details{
    background-image:// linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),
            url('../../images/idk.jpg');


  height: 93%;
  position: sticky;

}
