.icon-class-add-modal {
  font-size: 180px;
  display: flex;
  top: 7rem;
  text-align: center;
  justify-content: center; }

.header-dutch-modal {
  background-color: #2196f3;
  color: white; }
  .header-dutch-modal .modal-title {
    font-size: 16px; }

.button-class-add-modal-dutch {
  background-color: #2196f3 !important;
  color: white !important; }
